/*Font style from Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&family=Ubuntu:wght@700&display=swap');

/*Color codes for my designs */

:root {
    --primary-color: #1C2E1A;
    --secondary-color1: #FFFFFF;
    --secondary-color2: #db1216;
}


/* Css Styling Section for my Project */

body {
    background-image: url('/assets/images/backgroundImage.jpg');
    margin: 0;
    font-family: 'poppins', sans-serif;
    li {
        text-decoration: none;
        list-style-type: none;
    }
    /* Css styling for Navigation Bar max-width: 768px */
    .main-header {
        background-color: var(--primary-color);
        width: 100%;
        nav a:hover {
            color: var(--secondary-color2);
        }
        nav a {
            display: none;
            padding: 1rem;
            text-decoration: none;
            list-style-type: none;
            font-size: 25px;
            font-weight: bold;
            font-family: 'poppins', 'sans-serif';
            color: var(--secondary-color1);
            nav a:hover {
                color: var(--secondary-color2);
            }
            button {
                color: var(--secondary-color1);
                font-size: 17.5px;
                font-weight: bold;
                font-family: 'poppins', 'sans-serif';
                background-color: transparent;
                padding: 2rem;
                padding: 1rem;
                border-radius: 1.1rem;
                border: 0.3rem;
                border-color: var(--secondary-color1);
                border-style: solid;
            }
        }
        .logo-box {
            padding: 1em;
            display: flex;
            place-content: end space-between;
        }
        .mobile-menu {
            cursor: pointer;
        }
        .mobile-menu-exit {
            display: none;
        }
    }
    /* Css Styles for Second Section (Welcome Section */
    .desktop-header {
        display: none;
    }
    .welcome-header {
        font-family: 'poppins', 'sans-serif';
        text-align: center;
        margin: 1rem 0rem 1.4rem 0rem;
        .welcome-header-image-mobile {
            img {
                width: 100%;
                margin-top: -20px;
                border-radius: 0.2em;
            }
        }
    }
    .second-header {
        margin: 1rem 0 0.1rem 0;
        font-family: 'poppins', 'sans-serif';
        h3 {
            font-size: 15px;
            font-weight: 400;
        }
        p {
            font-size: 13px;
            font-weight: 600;
        }
    }
    button {
        align-self: center;
        color: var(--secondary-color1);
        font-size: 15px;
        font-weight: bold;
        font-family: 'poppins', 'sans-serif';
        background-color: var(--primary-color);
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 0.3rem;
        border-color: var(--primary-color);
        border-style: solid;
    }
    .third-section {
        img {
            width: 100%;
        }
    }
    /* Css Styling for Map-Section */
    .map-section {
        margin: 1.3em;
        color: var(--primary-color);
        font-weight: bold;
        font-family: 'poppins', 'sans-serif';
        h3 {
            text-align: center;
            font-weight: bold;
        }
        .map-style {
            border-color: var(--primary-color);
            border-style: dashed;
            border-radius: 0.5em;
            border-color: var(--primary-color);
            border-style: dashed;
            border-radius: 0.5em;
        }
        iframe {
            width: 100%;
        }
    }
}


/* Css styling for bigger screens min-width: 768px */

@media screen and (min-width: 768px) {
    .main-header {
        .mobile-menu {
            display: none;
        }
        .mobile-menu-exit {
            display: none;
        }
        nav a {
            display: block;
        }
    }
    .desktop-header {
        display: block;
    }
    .welcome-header {
        display: none;
    }
    .third-section {
        display: none;
    }
}


/* Footer Css Styling  for index.html*/

footer {
    background-color: var(--primary-color);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 14px;
    font-family: 'poppins', 'sans-serif';
    color: var(--secondary-color1);
    font-weight: 400;
    .notices {
        padding: 0.5rem 0.5rem 1rem 0.5rem;
    }
    li a {
        list-style: none;
        text-decoration: none;
        color: var(--secondary-color1);
        font-family: 'poppins', 'sans-serif';
        font-weight: light;
    }
    .ref-class {
        display: flex;
        place-content: end space-between;
        margin: 0.5rem 1rem 1rem 0.5rem;
    }
    .footer-inscr {
        color: var(--secondary-color1);
        a {
            text-decoration: none;
            color: var(--secondary-color1);
        }
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        text-align: center;
    }
}


/* Css styling for landing.html */

.first-header {
    .img-nav {
        display: block;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
    h1 {
        font-size: 22.5px;
        text-align: center;
        color: var(--primary-color);
        font-weight: bold;
        font-family: 'Poppins', 'sans-serif';
    }
}

.nav-Buttons button:hover {
    color: var(--secondary-color2);
}

.nav-Buttons {
    text-align: center;
    .nav-button {
        font-size: 28px;
        font-weight: bold;
        font-family: 'poppins', 'sans-serif';
        margin: 1em;
        color: var(--primary-color);
        background-color: transparent;
        padding: 0.2em;
    }
    button {
        padding: 1rem;
        border-radius: 1.1rem;
        border: 0.3rem;
        border-color: var(--primary-color);
        border-style: solid;
    }
}