<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BootStrap only -->
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--  Swiper CDN -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />




    <title>Freddie's |
        <%= title %>
    </title>
</head>

<body>
    <!--Navigation Menu & Logo -->

    <div class="navbar">
        <div class="container">
            <a href="/"><img class="freddie-logo" src="/Freddie's Logo.svg" alt="freddie-logo"></a>
            <img id="mobile-cta" class="mobile-nav" src="/hamburgerMenuhamBurger.svg" alt="mobile-nav">
            <nav>
                <img id="mobile-exit" src="/closeNavclose.svg" class="mobile-nav-exit" alt="close-nav">
                <ul class="primary-nav">
                    <li><a href="/" class="current">Home</a></li>
                    <li><a href="#"> Our Menu</a></li>
                    <li><a href="#map-cta">Locate Us</a></li>
                </ul>

                <ul class="secondary-nav">
                    <li class="order-now-cta"><a href="https://wa.me/+2348133520646" target="_blank">Order Now</a></li>
                </ul>
            </nav>
        </div>
    </div>



    <!--  Welcome Header with a background Image -->
    <section>
        <div class="hero">
            <img src="/welcomePicture.svg" alt="headerImageMobileView">
        </div>
    </section>

    <!-- Second Header with text writings & Order today Button -->
    <section>
        <div class="wrapper">
            <div class="container-2">
                <h2>Come experience a warm & welcoming vibe!<br> Where life's simplicities are delighted in.</h2>

                <p>Freddie's Bakehouse & Smoothies creates the right ambience for memories & Tastiness to be created. <span>
                        At our Bakehouse, there's varieties of choices to be made. From an array if freshly brewed coffees, cold beverages & splendid cusines that will more or less set the mood & tone for that discerning Gourment Connoisseur.
                    </span>
                </p>
                <ul class="order-cta">
                    <li><a href="#">Order Today</a></li>
                </ul>

            </div>

            <!-- Video Outlay of Freddie's Meals-->
            <div class="video-section">
                <video width="320" height="240" controls src="/public/Illustration.mp4" type="video/mp4"></video>
            </div>
        </div>
    </section>

    <!-- Map Area (Geo Location) -->
    <section id="map-cta" class="map-section">
        <h3>Try us Today!<br><span>(1 Segun Akinbuli Street, Isheri-Oshun Lagos) </span></h3>
        <div class="map-style">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.9439165571134!2d3.293445815382258!3d6.528767895277659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8fcffe2e44d9%3A0x983270fec281008d!2sFreddie&#39;s%20Bakehouse%20and%20Smoothies!5e0!3m2!1sen!2suk!4v1640935502879!5m2!1sen!2suk"
                width="600" height="450" style="border:0;" allowfullscreen="yes" loading="lazy"></iframe>
        </div>

    </section>

    <!--  Footer Section-->
    <footer>
        <div class="ref-class">
            <ul class="notices">
                <li><a href="#">Private Notice</a></li>
                <li><a href="#">Cookies Preferences</a></li>
                <li><a href="#">Status</a></li>
                <li><a href="https://wa.me/+2348133520646" target="_blank">Careers</a></li>
            </ul>
            <div>
                <p>Connect with us:</p>
                <a href="https://wa.me/+2348133520646" target="_blank"><img src="/whatsapp.svg" alt="whatsapp"></a>
                <a href="https://vm.tiktok.com/ZM8roybvy/" target="_blank"><img src="/tikToktikTok.svg" alt="TikTok"></a>
                <!--<a href=""><img src="/assets/images/pinterest.svg" alt="pinInterest"></a> -->
                <a href="https://www.instagram.com/freddies_bakehouse/" target="_blank"><img src="/instagram.svg" alt="Instagram"></a>
                <a href="https://m.facebook.com/FreddiesBakehouse/" target="_blank"><img src="/facebook.svg" alt="facebook"></a>
            </div>
        </div>

        <div class="footer-inscr">
            <p>Copyright 2021 Freddie's Bakehouse. <span>All rights reserved.</span> </p>
            <p>This website was crafted with
                <a href="#"><img src="/love.svg" alt="loveLogo"></a> by <a href="#">CudderFelix</a>
            </p>
        </div>
    </footer>
    <script>
        const mobileBtn = document.getElementById('mobile-cta')
        nav = document.querySelector('nav')
        mobileButtonExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click', () => {
            nav.classList.add('menu-btn');
        });

        mobileButtonExit.addEventListener('click', () => {
            nav.classList.remove('menu-btn');
        });
    </script>
    <script src="app.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>