<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Freddie's |
        <%= title %>
    </title>
    <link rel="stylesheet" href="/submain.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&family=Ubuntu:wght@700&display=swap');
    </style>
</head>

<body>
    <section>
        <div class="first-header">
            <img src="/logo.svg" alt="freddie'sLogo" class="img-nav">
            <h1>Bakehouse & Smoothies</h1>
        </div>
        <div class="nav-Buttons">
            <ul>
                <li><a href="https://wa.me/+2348133520646" target="_blank"><button class="nav-button">Order Now</button></a></li>
                <li><a href="#"><button class="nav-button">Our Menu</button></a></li>
                <li><a href="index.html#map-cta"><button class="nav-button">Locate Us</button></a></li>
                <li><a class="site-Button" href="/index.html"><button class="nav-button">Continue to Site</button></a></li>
            </ul>
        </div>

    </section>

</body>

</html>